
.section__title_about {
    margin-bottom: 40px;
}

.about__wrapper {
    display: flex;
    column-gap: 80px;
}

.about__description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
}

.about__description:nth-child(2) {
    margin-bottom: 48px;
}

.about__blockquote {
    margin-bottom: 39px;
}
.quote {
    font-size: 44px;
    line-height: 50px;
    padding-left: 31px;
    display: block;
    padding-bottom: 40px;
    padding-right: 50px;
    text-transform: uppercase;
    position: relative;
    text-wrap: balance;
}

.quote:before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "\201c";
    color:  var(--main-menu-bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.quote:after {
    content: "\201d";
    color: var(--main-menu-bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.owner {
    display: flex;
    column-gap: 30px;
    justify-content: end;
}

.owner__description {
    max-width: 280px;
    font-size: 20px;
    line-height: 28px;
    text-wrap: balance;
}

.owner__description__uppercase {
    text-transform: uppercase;
}

#about {
    padding-top: 50px;
}