.about__ptext {
    margin-bottom: 59px;
}

.about__blcite {
    margin-bottom: 39px;
}

.about__text1, .about__text2 {
    font-size: 20px;
    line-height: 28px;
}

.about__text_block p {
    margin-bottom: 20px;
}

.about__cite {
    font-size: 44px;
    margin-right: 50px;
    text-transform: uppercase;
    max-width: 415px;
    line-height: 50px;
    font-style: normal;
}
.about__cite p {
    display: inline;
}

.collage {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 596px;
}

.about__text_block {
    display: flex;
    flex-direction: column;
    float: right;
}

.about__cite::after {
    color: rgb(108, 2, 135);
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
    content: "\201D";
}

.about__cite::before {
    position: absolute;
    color: rgb(108, 2, 135);
    content: "\201C";
    font-size: 44px;
    line-height: 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    right: 555px;

}

.about__author_avatar {
    max-width: 389px;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.about__text_block li {
    max-width: 500px;
    list-style: none;
}

.about__avatar{
    display:inline-block ;
    max-width: 389px;
    position: relative;
    left: 100px;
}


.about__founder {
    display: inline-block;
    float: right;
    max-width: 280px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}