
.section__title_about {
    margin-bottom: 40px;
}

.about__wrapper {
    display: flex;
    column-gap: 80px;
}

.about__description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
}
.about__image {
    width: 600px;
    height: 596px;
}

.about__description:nth-child(2) {
    margin-bottom: 48px;
}

.about__blockquote {
    margin-bottom: 39px;
}
.quote {
    font-size: 44px;
    line-height: 50px;
    padding-left: 31px;
    display: block;
    padding-bottom: 40px;
    padding-right: 50px;
    text-transform: uppercase;
    position: relative;
    text-wrap: balance;
}

.quote:before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "\201c";
    color:  var(--main-menu-bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.quote:after {
    content: "\201d";
    color: var(--main-menu-bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.owner {
    display: flex;
    column-gap: 30px;
    justify-content: end;
}

.owner__description {
    max-width: 280px;
    font-size: 20px;
    line-height: 28px;
    text-wrap: balance;
}
.owner__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.owner__description__uppercase {
    text-transform: uppercase;
}

#about {
    padding-top: 100px;
}
.about__image-small, .about__image-down {
    display: none;
}
@media (max-width:1134px) {
    .about__image {
        width: 500px;
        height: 506px;
    }
    
}
@media (max-width:1024px)  {
    
    .section__title_about {
        margin-bottom: 26px;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }
    .about__image {
        width: 420.46px;
        height: 417.66px;
    }
    .about__description {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .about__wrapper {
        column-gap: 40px;
    }
    .about__description:nth-child(2) {
        margin-bottom: 37px;
    }
    .about__blockquote {
        margin-bottom: 13px;
    }
    .quote {
        font-size: 30px;
        line-height: 36px;
        padding-left: 31px;
        padding-bottom: 13px;
        padding-right: 0;
    }
    .quote:before {
        font-size: 30px;
        font-weight: 900;
        line-height: 36px;
    }
    .quote:after {
        font-size: 30px;
        font-weight: 900;
        line-height: 36px;
    }
    .owner__avatar {
        width: 70px;
        height: 70px;
    }
    .owner__description {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
    .owner {
        column-gap: 35px;
    }
    #about {
        padding-top: 70px;
    }
}

@media (max-width:768px) {
    .section__title_about {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }
    .about__image-small {
        display: block;
        width: 381px;
        height: 378px;
        float: left;
        margin-right: 28px;
        overflow: hidden;
    }
    .about__image {
        display: none;
    }
    .about__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        width: 278px;
        display: inline-block;
        margin-bottom: 108px;
    }
    .about__description-first {
        padding-top: 66px;
    }
    .about__description:nth-child(2) {
        margin-bottom: 20px;
        
    }
    
    .about__wrapper {
        column-gap: 28px;
    }
    
    .about__blockquote {
        margin-bottom: 13px;
    }
    .quote {
        font-size: 32px;
        line-height: 36px;
        padding-left: 21px;
        padding-bottom: 16px;
        padding-right: 0;
    }
    .about__wrapper {
        display: block;
    }
    .owner {
        column-gap: 25px;
    }
    .owner__description {
        width: 225px;
        height: 78px;
    }
    .owner__description__uppercase {
        font-size: 18px;
    }
    #about {
        padding-top: 60px;
    }
}
@media (max-width:700px) {
    .about__image-small {
        width: 300px;
        height: 300px;
    }
}
@media (max-width:558px) {
    .about__info {
        text-align: center;
    }
    .about__image-small {
        margin: 0 auto;
        float: none;
    }
    
}

@media (max-width:320px) {
    .section__title_about {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }
    .about__image-small {
        display: none;
    }
    .about__image-down {
        display: block;
    }
    .about__description {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 15px;
        width: 280px;
    }
    .about__description-first {
        padding-top: 0;
    }
    .about__description:nth-child(2) {
        margin-bottom: 20px;
        
    }
    .about__image-down {
        width: 280px;
        height: 280px;
        padding-bottom: 21px;
    }
    .quote {
        font-size: 18px;
        
        line-height: 26px;
        letter-spacing: 1px;
        padding-bottom: 9px;
        padding-right: 0;
        padding-left: 11px;
        width: 280px;
        
    }
    .quote:before {
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 1px;
    }
    .quote:after {
        position: absolute;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 1px;
        top: 48px;
        right: 109px;
    }
    .owner__avatar {
        width: 56px;
        height: 56px;
    }
    .owner {
        column-gap: 11px;
        width: 280px;
        height: 56px;
    }
    
    .owner__description {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .owner__description__uppercase {
        font-size: 12px;
    }
    #about {
        padding-top: 30px;
    }
}