
.banner-container {
    position: relative;
    height: 823px;
}
.banner-container:after {
    content: "";
    position: absolute;
    background-image: url(../img/icons-png/banner.png);
    background-repeat: no-repeat;
    width: 675px;
    height: 762px;
    bottom: 0;
    right: 0;
}

.banner__two-logo {
    margin-bottom: 30px;
}

.banner-info__title {
    display: block;
    position: relative;
    font-size: 150px;
    font-weight: 900;
    letter-spacing: -15px;
    margin-bottom: 0px;
}

.banner-info__subtitle {
    display: block; 
    position: relative;
    padding-left: 105px;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
}


.banner__list {
    display: flex;
    width: 410px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}


.banner__button {
    display: block;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    width: 374px;
    height: 80px;
    border-radius: 10px;
    background: rgb(108, 2, 135);
    color: white;
    text-align: center;
    padding-top: 25px;
    box-shadow: 1px 1px 22px rgba(108, 2, 135, 1);
    border: none;
    cursor: pointer;
}

.banner__button:hover {
    background: rgb(132, 10, 163);
    transition: 0.3s ease;
}

.banner__button:focus{
    background: rgb(132, 10, 163);
}

.banner__button:active {
    background: var(--main-purple);
}


.banner-column__text {
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
    color: rgb(205, 6, 255);
    text-align: center;
}

.banner-column__text-add, .banner-column-next__text-add{
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}

.banner-column-next__text {
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    color: rgb(205, 6, 255);
}

.banner__list-column {
    width: 193px;
    height: 210px;
}

.banner__list-column-next {
    width: 171px;
    height: 210px;
    padding-top: 35px;
}


.banner__arrow-link {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

.banner__arrow-link:hover {
    background-image: url("../img/icons-png/arrow-white.png");
    transition: 0.3s ease;
}

.banner__arrow-link:active {
    background-image: url("../img/icons-png/arrow-purple.png");
    
}

.banner__arrow-link:focus {
    outline: 1px solid rgb(205, 6, 255);
    
}
.arrow-link__image {
    display: block;
}