.banner {
    position: relative;
    height: 800px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px ;
    border: 1px solid rgba(0, 0, 0, 0);
}

.banner-section {
    padding-bottom: 50px;
}

.banner__logo {
    display: block;
    position: relative;
    font-size: 130px;
    font-weight: 900;
    padding-left: 30px;
    top: 65px;
}

.banner__logo-small {
    display: block; 
    position: relative;
    padding-left: 140px;
    top: 70px;
    font-size: 28px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}
