.our-contact li{
    display: block;
    padding-left: 38px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 3px;
    font-size: 18px;
}

.locate {
    background-image: url("../img/icons-png/location.png");
}

.phone {
    background-image: url("../img/icons-png/phone-call.png");
}

.mail {
    background-image: url("../img/icons-png/mail.png");
}

.img-svg {
    padding-left: 25px;
    display: flex;
}

.img-svg li {
    column-gap: 15px;
}

.img-svg svg {
    margin-left: 15px;
}

.locate p {
    white-space: pre-wrap;
}