.question {
    background-color: #fff;
    color: #1C1A1A;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.faq__questions :nth-child(even) {
    color: white;
    background-color:  #440F51;
    content: "";
    display: block;
    background-size: 4%;
    background-image: url("../img/icons-svg/circle.svg") ;
    background-repeat: no-repeat;
    background-position: 95%;
}

.faq__questions :nth-child(odd) {
    content: "";
    background-image: url("../img/icons-svg/circle-purple.svg") ;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 4%;
}
