.question {
    background-color: var(--main-color);
    color: #1C1A1A;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.faq__questions :nth-child(even) {
    color: white;
    background-color:  var(--main-purple);
    content: "";
    display: block;
    background-size: 4%;
    background-image: url("../img/icons-svg/circle.svg") ;
    background-repeat: no-repeat;
    background-position: 95%;
}
.faq__questions :nth-child(even):hover {
    background-image: url("../img/icons-png/open-hover.png");
    cursor: pointer;
    transition: 0.3s ease;
}

.faq__questions :nth-child(even):active {
    background-image: url("../img/icons-png/open-active-white.png");
    
}

.faq__questions :nth-child(odd) {
    content: "";
    background-image: url("../img/icons-svg/circle-purple.svg") ;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 4%;
}

.faq__questions :nth-child(odd):hover {
    background-image: url("../img/icons-png/open-hover-purple.png");
    cursor: pointer;
    transition: 0.3s ease;
}

.faq__questions :nth-child(odd):active {
    background-image: url("../img/icons-png/open-active-purple.png");
    
}


.question:last-child {
    margin-bottom: 0;
}

.faq {
    padding-bottom: 45px;
}

@media (max-width:1024px) {
    .section__faq_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 26px;
    }
    .question  {
        width: 904px;
        height: 70px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .container__faq {
        width: 904px;
    }
    .faq__questions :nth-child(even) {
        content: "";
        background-image: url("../img/icons-svg/circle-purple.svg") ;
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: 4%;
        background-color:  white;
        color: rgb(28, 26, 26);
}
}