.footer__contacts li{
    display: block;
    padding-left: 65px;
    background-size: 32px 35px;
    background-repeat: no-repeat;
    background-position: 3px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}

.footer__contacts li:nth-child(odd){
    margin-bottom: 50px;
}

.footer__locate {
    background-image: url("../img/icons-png/location.png");
}

.footer__phone {
    background-image: url("../img/icons-png/phone-call.png");
}

.footer__mail {
    background-image: url("../img/icons-png/mail.png");
}

.footer__icons {
    display: flex;
    column-gap: 28px;
    padding-bottom: 35px;
}

.footer__locate p {
    white-space: pre-wrap;
}

.footer__address {
    font-style: normal; 
}