.footer__contacts li{
    display: block;
    padding-left: 65px;
    background-size: 32px 35px;
    background-repeat: no-repeat;
    background-position: 3px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}

.footer__contacts li:nth-child(odd){
    margin-bottom: 50px;
}

.footer__locate span {
    display: block;
}

.footer__locate {
    background-image: url("../img/icons-png/location.png");
}

.footer__phone {
    background-image: url("../img/icons-png/phone-call.png");
}

.footer__mail {
    background-image: url("../img/icons-png/mail.png");
}

.footer__icons {
    display: flex;
    column-gap: 28px;
}

.footer__locate  span{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.footer__address {
    font-style: normal;
}


.sub_footer {
    display: flex;
    justify-content: space-between;
}

.sub_footer p, span{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.sub_footer_mail{
    display: flex;
    justify-content: end;
}


footer {
    background: linear-gradient(180.00deg, rgb(27, 26, 27),rgb(55, 10, 55) 100%);
}
/*=================*/
.footer__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.map__image {
    display: block;
}
.footer {
    padding-top: 55px;
    padding-bottom: 21px;
}


.footer__phone:hover,
.footer__mail:hover,
.sub_footer__mail:hover {
    color: var(--main-menu-bg);
    transition: 0.3s ease;
}

.footer__icon-link:hover {
    color: #EADEED;
    transition: 0.3s ease;
}

.footer__icon-link:active {
    color:  var(--main-purple-light);
    
}

.footer__icon-link:focus {
    color: #EADEED;
    outline: 1px solid var(--main-purple-light);
    
}
.map__image{
    width: 600px; 
    height: 274px;
}
.footer__icon-link-svg {
    width: 50px;
    height: 50px;
}

@media (max-width:1024px) {
    .footer {
        padding-top: 35px;
        padding-bottom: 19px;
    }
    .section__footer_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .map__image{
        width: 542px; 
        height: 274px;
    }
    .footer__container {
    width: 904px;
    }
    .footer__icon-link-svg {
        width: 39px;
        height: 39px;
    }
    .footer__icons {
        column-gap: 27px;
    }
    .footer__row {
        margin-bottom: 92px;
    }
    .sub_footer__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}
