.star-wars-hall {
    height: 700px;
    background-image: url("../img/star-wars-hall.jpg");
    background-size: cover;
}

.halls-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 211px;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
}

.halls__list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.halls__list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-hall {
    height: 700px;
    background-image: url("../img/80s-vibes-hall.jpg");
    background-size: cover;
}

.wild-west-hall {
    height: 700px;
    background-image: url("../img/wild-west-hall.jpg");
    background-size: cover;
}

.neon-hall {
    height: 700px;
    background-image: url("../img/neon-hall.jpg");
    background-size: cover;
}
