
.halls__link {
    display: inline-block;
    position: relative;
    width: 252px;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 80px;
    top: 28%;
    text-align: center;
}

.section__halls {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.section__halls_one {
    text-align: center;
    height: 349px;
    width: 580px;
    background-image: url("../img/80s-vibes-hall.jpg");
    background-size: cover;
}

.section__halls_three {
    height: 349px;
    width: 580px;
    background-image: url("../img/wild-west-hall.jpg");
    background-size: cover;
    text-align: center;
}

.section__halls_four {
    height: 349px;
    width: 580px;
    background-image: url("../img/neon-hall.jpg");
    background-size: contain;
    text-align: center;
}

.section__halls_two {
    height: 349px;
    width: 580px;
    background-image: url("../img/star-wars-hall.jpg");
    background-size: cover;
    text-align: center;
}


.section__halls_title {
    margin-bottom: 40px;
    text-align: center;
}

#halls div {
    justify-content: center;
}

@media (max-width:1024px) {
    .section__halls_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0%;
        margin-bottom: 36px;
    }
    .section__halls_one, .section__halls_two,
    .section__halls_three, .section__halls_four {
        width: 441px;
        height: 265px;
    }
    .halls__link {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        top: 28%;
    }
    #halls {
    padding-bottom: 70px;
    }
}

@media (max-width:768px) {
    .halls {
        padding-top: 30px;
    }
    .section__halls_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        margin-bottom: 35px;
    }
    .section__halls_one, .section__halls_two,
    .section__halls_three, .section__halls_four {
        width: 330px;
        height: 200px;
        row-gap: 17px;
        column-gap: 20px;
    }
    .halls__link {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        top: 28%;
        width: 129px;
    }
    #halls {
        padding-bottom: 63px;
        }
}
@media (max-width:320px) {
    .halls {
        padding-top: 30px;
    }
    .section__halls_title {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0%;
        margin-bottom: 15px;
    }
    .section__halls_one, .section__halls_two,
    .section__halls_three, .section__halls_four {
        width: 280px;
        height: 168px;
        row-gap: 10px;
    }
    .halls__link {
        font-size: 26px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0%;
        top: 28%;
        width: 79px;
    }
    #halls {
        padding-bottom: 30px;
        }
}