.banner {
    position: relative;
    height: 800px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px ;
    border: 1px solid rgba(0, 0, 0, 0);
}

.logo {
    display: block;
    position: relative;
    font-size: 120px;
    font-weight: 900;
    padding-left: 24px;
    top: 65px;
    left: 40px;
}

.logo-small {
    display: block; 
    position: relative;
    padding-left: 160px;
    top: 70px;
    font-size: 22px;
}
