.reserve {
    padding-top: 80px;
    padding-bottom: 80px;
}


.section__reserve_title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

#reserve {
    background-color: rgb(68, 15, 81);
}


.reserve__hall {
    display: flex;
    width: 1180px;
    height: 123px;
    justify-content: space-between;
    margin: 0 auto;
}

.reserve__hall legend {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 40px;
}

.reserve__hall_input {
    width: 250px;
    height: 55px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    border: none;
}

.reserve__wrap {
    display: flex;
    justify-content: space-around;
    width: 1080px;
    margin: 0 auto;
}

.reserve__play {
    display: inline-flex;
}

.reserve__console, .reserve__board-game, .reserve__other, .reserve__set {
    display: flex;
    flex-direction: column;
    border: none;
    flex-wrap: wrap;
    
}

.reserve__set legend {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 30px;
    padding-top: 60px;
}
.reserve__console label:not(:last-child) {
    margin-bottom: 10px;
}
.reserve__board-game label:not(:last-child) {
    margin-bottom: 10px;
}
.reserve__other label:not(:last-child) {
    margin-bottom: 10px;
}

.reserve__console_input, .reserve__other_input, .reserve__board-game_input {
    margin-right: 12px;
}

.reserve__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 990px;
    margin: 0 auto;
}

.reserve__date legend {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 38px;
    padding-top: 60px;
}

.form__button {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 60px; 
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(108, 2, 135);
    text-transform: uppercase;
    border: none;
    background-color: var(--main-color);
    left: 920px;
}

.reserve__date-wrap {
    
    display: flex;
    justify-content: center;
}


/*==========================*/
.radio {
    display: none;
}
.rooms__label {
    cursor: pointer;
    height: 55px;
    max-height: 55px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: var(--main-color);
    color: var(--main-dark);
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-basis: 250px;
    justify-content: center;

}
.time {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
}

.time__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: block;
}

.time__input {
    display: block;
}

.time__block {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    margin-bottom: 40px;
}

.time__block_info {
    max-width: 280px;
    row-gap: 14px;
}

.time__block_contacts {
    row-gap: 14px;
}

.time__label_name,
.time__label_phone-number,
.time__label_mail,
.time__label_lastname {
    margin-bottom: 6px;
}

.time__input_name,
.time__input_lastname,
.time__input_phone-number,
.time__input_mail {
    width: 100%;
    height: 52px;
}

.time__block_date {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 36px;
    align-self: flex-end;
}

.time__input_persons {
    width: 100%;
    height: 52px;
}

.time__input_time,
.time__input_date {
    height: 52px;
    width: 134px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.time__input-row-group {
    display: flex;
    column-gap: 32px;
}

.time__input_date::-webkit-input-placeholder {
    background-image: url(../img/icons-svg/triangle.svg);
    background-position: center right;
    width: 100%;
    height: 23px;
    content: "Дата";
    display: block;
    background-repeat: no-repeat;
    color: var(--main-dark);
}

.time__input_time::-webkit-input-placeholder {
    background-image: url(../img/icons-svg/triangle.svg);
    background-position: center right;
    width: 100%;
    height: 23px;
    content: "Время";
    display: block;
    background-repeat: no-repeat;
    color: var(--main-dark);
}

.time__input_persons {
    padding-left: 20px;
    padding-right: 27px;
}

.time__input_persons {
    background-image: url(../img/icons-svg/triangle.svg);
    background-position: 270px;
    width: 100%;
    height: 52px;
    display: block;
    background-repeat: no-repeat;
    color: var(--main-dark);
    appearance: none;
}

.rooms__label:hover {
    background: #EADEED;
    border: 3px solid #640AA3;
    transition: 0.3s ease;
}

.rooms__label:active {
    background: #6C0287;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    
}

.rooms__label:focus {
    background: #FFFFFF;
    border: 3px solid #640AA3;
    transition: 0.3s;
}

.form__button:hover {
    background: #EADEED;
    border: 3px solid #6C0287;
    transition: 0.3s ease;
}

.form__button:active {
    background: #EADEED;
    border: none;
}

.form__button:focus {
    background: #FFFFFF;
    border: 3px solid #6C0287;
    
}

.time__input_phone-number:focus {
    outline: 2px solid rgb(205, 6, 255);
    
}

.reserve__console_input:focus,
.reserve__board-game_input:focus,
.reserve__other_input:focus,
.time__input:focus {
    outline: 2px solid rgb(205, 6, 255);
    
}

@media (max-width:1024px)  {
    .section__reserve_title {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 25px;
    }
    
    .reserve__hall {
        width: 903px;
    }    
    .reserve__hall legend {
        margin-bottom: 26px;
    }
    .rooms__label {
        flex-basis: 180px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
    .reserve__set legend {
        margin-bottom: 26px;
}
.reserve__wrap, .reserve__date-wrap {
    width: 904px;
}
.reserve__date legend {
    margin-bottom: 26px;
}
.time__input_date {
    width: 134px;
    height: 52px;
}
.time__input_name, .time__input_lastname {
    width: 251px;
    height: 52px;
}
.time__input_phone-number, .time__input_mail {
    width: 254px;
    height: 52px;
}
.reserve__date-wrap {
    width: 904px;
    margin: 0 auto;
}
.reserve__date {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    }
.form__button {
    width: 254px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
    left: 714px;
}
.reserve {
    padding-top: 60px;
    padding-bottom: 60px;
}
}

@media (max-width:768px)  {
    .section__reserve_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 40px;
    }
    
    .reserve__hall {
        width: 688px;
    }    
    .reserve__hall legend {
        margin-bottom: 26px;
    }
    .rooms__label {
        flex-basis: 150px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        height: 38px;
    }
    .rooms {
        column-gap: 29px;

    }
    .reserve__set legend {
        padding-top: 50px;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
}
.reserve__wrap, .reserve__date-wrap {
    width: 688px;
}
.reserve__set {
    width: 688px;
    margin: 0 auto;
}
.reserve__console {
    width: 301px;
    height: 272px;
    
}
.reserve__board-game {
    width: 321px;
    height: 272px;
}
.reserve__other {
    width: 278px;
    height: 151px;
    
}
.reserve__wrap {
    flex-wrap: wrap;
    justify-content: start;
}
.reserve__legend {
    width: 250px;
    height: 30px;
}
.reserve__set legend {
    padding-top: 0;
    margin-bottom: 24px;
}
.reserve__console label:not(:last-child) {
    margin-bottom: 20px;
}
.reserve__board-game label:not(:last-child) {
    margin-bottom: 20px;
}
.reserve__other label:not(:last-child) {
    margin-bottom: 20px;
}
.reserve__play label {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
}
.reserve__date-wrap {
    width: 687px;
}
.reserve__date legend {
    margin-bottom: 30px;
}
.reserve__date {
        justify-content: start;
        flex-wrap: wrap;
        
        
}
.time__block_date {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
    align-self: flex-end;
}
.form__button {
    left: 300px;
}
.time__block_date{
    display: flex;
    flex-direction: row;
}
}

