.review__list {
    display: flex;
    flex-wrap: wrap;
}

.review__wrapper {
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.review__img {
    background: radial-gradient(50.00% 50.00% at 50% 50%,
    rgba(196, 196, 196, 0),rgba(108, 2, 135, 0.5) 100%), url("../img/icons-png/review_max.png");
    border-radius: 140px;
    width: 280px;
    height: 280px;
    margin-bottom: 11px;
    
}
.img__oksana {
    background: radial-gradient(50.00% 50.00% at 50% 50%,
    rgba(196, 196, 196, 0),rgba(108, 2, 135, 0.5) 100%), url("../img/icons-png/review_oksana.png");
    border-radius: 140px;
    width: 280px;
    height: 280px;
}
.img__nikita {
    background: radial-gradient(50.00% 50.00% at 50% 50%,
    rgba(196, 196, 196, 0),rgba(108, 2, 135, 0.5) 100%), url("../img/icons-png/review_nikita.png");
    border-radius: 140px;
    width: 280px;
    height: 280px;
}

.review__author {
    width: 280px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    
}
.text__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 52px;
}

.review__text {
    width: 680px;
}

.review__wrapper:not(:last-child) {
    margin-bottom: 50px;
}



